body {
    background-image: url("brooke-lark-609902-unsplash.jpg");
    background-size: 100%;
}

h1 {
    border-bottom: 2px solid grey;
}

img {
    width: 33.3%;
    height: 300px;
}

nav {
    
    margin: 20px auto;
}

.card {
    margin: 10px;
   
}



.card-body {
    background: lightgrey;
}

.card-text {
    text-align: center;
}

.fixed-bottom {
    background: lightblue;
    padding: 10px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    body {
        background-image: url("francisco-de-legarreta-403274-unsplash.jpg");
        background-size: 768px ;
    }

    h1 {
        color: purple;
    }

    form {
        color: red;
    }

    .card-body {
        background: green;
    }
}